SSE
    <div id="result" >result</div>
<script>
if(typeof(EventSource) !== "undefined") {
    var source = new EventSource("http://localhost/XDoc5S/test.sse");
    source.onmessage = function(event) {
        document.getElementById("result").innerHTML += event.data + "<br>";
    };
    document.getElementById("result").innerHTML = "your browser does support server-sent events...";
} else {
    document.getElementById("result").innerHTML = "Sorry, your browser does not support server-sent events...";
}
</script>